body {
    margin: 0;
    padding: 0;
}

.main {
    margin: 10%;
    border: solid 1px #ccc;
    display: flex;
    width: 75%;
    justify-content: center;
    flex-wrap: wrap;
    /* flex-flow: row; */
}
.main div{
    background-color: blue;
    height: 100px;
    width: 100px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width:500px){
    .main{
        /* display: none; */
    }
}